{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>PopSchool</title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Alata&family=Comfortaa:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <style type="text/css">
        /* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-md  fixed-top bg-gray-300 p-3">
            <a class="navbar-brand" href="#" style="font-family: 'Aclonica', sans-serif;
            font-family: 'Alata', sans-serif;
            font-family: 'Comfortaa', cursive;">popschool</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse ">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link px-2 text-blue-900 hover:text-blue-300 " href="{% url 'home' %}" >Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-2 text-blue-900 hover:text-blue-300" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-2 text-blue-900  hover:text-blue-300 " href="{% url 'register' %}" >Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-2 text-blue-900  hover:text-blue-300 " href="#" >Sponsor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-blue-900  hover:text-blue-300" href="#" >Contributors</a>
                  </li>
              </ul>
                <button class="bg-purple-800 text-white hover:bg-blue-800 hover:text-blue-300 py-1 px-4 border-solid border-2 border-blue-900" style="border-radius:20px">Become a sponsor</button>
              
            </div>
          </nav>
          {% block content %}

          {% endblock %}
          <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script>
                AOS.init();
              </script>
    </body>
</html>